.main-name{
    font-family: 'Petit Formal Script', cursive;
    font-size: 155px;
    /* padding-left: 15%; */
    position: absolute;
    top: 58px;
    left: 31%;
    bottom: -11px;

}

.activeLink{
    background-color: #fce4ec;
    color: black;
}


#nav-link {
    height: 100%;
    padding-top: 50px;
}
#nav-link li a:hover{
    color: white;
}
.nav-wrapper{
    background-color:#f48fb1;

}
.rotateimg270 {
    -webkit-transform:rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  /*.bio-pic{
     
      width: 500px;
      height: 500px;
      margin-top: 25px;
      margin-left: 500px;
      border: 20px;
      border-color: black;

  }*/

  .parallax-container{
    height: 900px;
    background: transparent;
    text-align: center;
    border-top: white solid 100px;
    border-bottom: none;
    border-right: black solid 50px;
    border-left: black solid 100px;
    
}

/* .row{
    margin-top: 20px;
    margin-left: 600px;
} */

.menu {
    height:156px;
    background-color: #f48fb1;
}



.heading-container{
    text-align: center;
}
/* .input-field label {
    font-size: 27px;
    background-color: black;
    color: white;
   
    
  } */

  input[type=text]:not(.browser-default):focus:not([readonly]),   input[type=tel]:not(.browser-default):focus:not([readonly]),  input[type=email]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #f48fb1;
    -webkit-box-shadow: 0 1px 0 0 #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
  }
input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label,  input[type=email]:not(.browser-default):focus:not([readonly])+label{
    color:  #f48fb1;
}

input[type=text]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=email]:not(.browser-default){
    height:5rem;
}


.socialIcon {
font-size: 77px;
line-height: 150px;
padding-left:20px;


}

/*this moves the icon section to the left or right, not a single icon but the entire block*/
footer .row .col.s6 {
    width: 31%;
    margin-left: auto;
    left: auto;
    right: auto;
}
.alsoSocial{
    color: white;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    margin-left: 50px;
}

.input-field>label{
    color:black;
    font-weight: bold;
    font-size:2rem;
}

#description{
    color: black;
    font-style: italic;
    font-family: 'Crimson Pro', sans-serif;
    font-family: 'Merriweather', sans-serif;
    position: relative;
    left: 60%;
    top: 50px;
    font-size: 27px;

}

.submit-button{
    background-color:#f48fb1;
    color: black;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }

.submit-button[type=submit]:hover{
    background-color: #fce4ec;

    }
#your-message-space{
    height: 250px;
}
  .form-message{
      font-size: 25px;
      background-color: black;
      color: White;
  }

  .section-heading{
    margin-top: 50px;
    /*color: #bbb2bd;*/
    color: black;
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 50px;
    display: inline-block;

}

#contact-head{
    color: black;
}

.bio{
    margin: 50px;
    margin-left: 100px;
    font-size: 18px;
    line-height: 30px;
    
}

#actual-bio {
    border: solid #f48fb1;
    padding: 20px;
    margin: 100px;
    margin-top: 50px;
}
    
   

    
#word-bio{
    color: #f48fb1;
    font-weight: bold;
    font-family: 'Crimson Pro', serif;
    font-size: 45px;
    text-decoration: underline black;
    text-align: center;
    
}

.resume-word{
    color: #f48fb1;
    font-weight: bold;
    font-family: 'Crimson Pro', serif;
    font-size: 45px;
    text-decoration: underline black;
    text-align: center;
    margin-bottom: 30px;
    

}
.reel-word{
    color: #f48fb1;
    font-weight: bold;
    font-family: 'Crimson Pro', serif;
    font-size: 45px;
    text-decoration: underline black;
    text-align: center;
    

}

.contact-word{

    color: #f48fb1;
    font-weight: bold;
    font-family: 'Crimson Pro', serif;
    font-size: 45px;
    text-decoration: underline black;
    text-align: center;
    margin-bottom: 100px;
}

.my-reel{
    text-align: center;
    padding: 0%;
}

.interview-word{
    color: #f48fb1;
    font-weight: bold;
    font-family: 'Crimson Pro', serif;
    font-size: 45px;
    text-decoration: underline black;
    text-align: center;

}

.footer-container{
    background-color: black;
    padding-left: 35%;
}

.resume-section{
    color: #f48fb1;
    font-weight: bolder;
    font-size: 30px;
    

}
.resume-table{
    margin-left: 30px;
}
/*resume*/
td, th {
    padding: 15px 80px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}

.homepic{
    margin-top:200px;
    width:60rem;
    margin-bottom:-30px
}
.carousel2{
    margin-top:50px;
}

.messageArea{
    border: 1px solid gray;
    border-radius:20px;
    overflow: auto;
    outline: none;
    padding:20px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.iconHolder{
    text-align: right;
}


/* Ipad Pro  Landscape */
/* ----------- iPad Pro ----------- */
/* Portrait */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .main-name{
        font-size:80px;
        left:36%;
    }

    nav ul a{
        font-size:.6rem;
    }

    #description{
        font-size:22px;
        left:50%;
    }
}

/* Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
      .main-name{
          left:34%;
          font-size:120px;
      }

      #description{
          left:53%;
      }

}


/* Ipad Landscape */
@media only screen 
  and (max-device-height: 768px) 
  and (min-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    nav ul a {
        font-size:.55rem;
    }
    .main-name{
        font-size:100px;
    }
    #description{
        left:60%;
        font-size:15px;
    }
}
/* Ipad Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-height: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    
    .main-name{
        font-size:112px;
        left:12%;
    }
    #description{
        left:55%;
        font-size:15px;
    }
    .socialIcon{
        font-size:55px;
    }
    .my-reel{
        padding:25px;
    }
}

/* mobile phones */
@media screen and (max-width: 480px) {
    .main-name{
        font-size: 40pt;
        position: absolute;
        left: 24%;
    }

    #description{
        font-size:15px;
        left:25%;
        top:14%;
        position: absolute;
    }
    .socialIcon{
        font-size:40px;
    }

    .representation{
        text-align: center;
    }

    .homepic {
        margin-top: 100px;
        width: 100%;
        margin-bottom: 100px;
    }
    .contact-word{
        margin-bottom: 50px;
    }

    .socialIcon{
        padding-left:0px;
    }
    .iconHolder{
        text-align: center;
        padding-right:10%;
    }
    .reel-word{
        margin-right:0px;
    }
}
